body {
    background-image: url(../img/fondo.jpg);
    margin: 0;
    padding: 0;
}

#container {
    background-image: url(../img/fondo-barco.jpg);
    background-position: left;
    width: 90%;
    background-size: cover;
    margin: 50px auto;
    border-radius: 30px;
    box-shadow: 1.2vw 1.2vw 10px black;
}

#poema {
    background-color: rgba(255, 255, 255, 0.500);
    border-radius: 30px;
    font-size: 20px;
    width: 300px;
    font-weight: bold;
    padding: 20px;
}

#poema:hover {
    background-color: rgba(255, 255, 255, 0.800);
    cursor: pointer;
}